* {

    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

body {

    margin: 0;
    background-color: #7A73D1;
}

.hea1{
    top: 0;
    left: 0;
    width: 100%;

    background-color: #4D55CC;

    color: white;

    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 30px;
}
.marca a{
    text-decoration: none;
    color: white;
}

.bt{
    float: left;
}

#btAcesso{
    background-color: #7A73D1;
    color: #D9D9D9;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    padding: 6px 14px;
}

#btLogIn{
    background-color: black;
    color: #D9D9D9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px 14px;
}
.hea2{
    top: 0;
    left: 0;
    width: 100%;

    background-color: #B5A8D5;
    color: black;

    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 45px;
}

.hea2 button{
    background-color: #B5A8D5;
    color: black;
    border: 0px;
    font-size: 17px;
}

img{
    height: 45px;
}

main {
    display: flex;

    justify-content: space-between;
    padding: 30px;
}

.TabelaCompra {
    background-color: #b9aef0;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    }
#qtd_produto{
    background-color: #b9aef0;
    border: solid black 0.5px;
    border-radius: 10%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    font-weight: bold;
}

.TabelaResumo {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.ResumoCompra {
    background-color: #b9aef0;
    padding: 20px;
    border-radius: 10px;

    width: 100%;
}

.finalizar {
    padding: 12px 20px;
    border: none;

    border-radius: 20px;
    background-color: #211C84;
    color: #D9D9D9;
    font-size: 16px;

    cursor: pointer;
    width: 100%;
}

.finalizar:hover{
    filter: brightness(0.8);
}

.popup {
    display: none;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eee;
    padding: 40px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    z-index: 1000;
}
#footer{
    display: flex;
    flex-direction: row;
    position: fixed;

    bottom: 0;
    left: 0;
    right: 0;
    background-color: #B5A8D5;
    padding: 10px;
    text-align: center;
}

.imagem_produto{
    width: 90px;
    height: 70px;
}

.qtd{
    width: 48px;
    height: 34px;
    border-radius: 6px;
    border: 1px solid black;
    text-align: center;
    }
.remover{
    margin-left: 12px;
    border-radius: 20px;
    background-color: #211C84;
    color: #D9D9D9;
    padding: 10px 8 px;
    border: 0px;
    border-radius: 6px;
}
.remover:hover{
    filter: brightness(0.8);
}

tfoot{
    border-top: 2px solid #333;
    text-align: end;
}

tfoot strong{
    margin-right: 12px;
}
