* {

	box-sizing: border-box;
	font-family: Arial, sans-serif;
   
}

body {

	margin: 0;
	background-color: #7A73D1;
    
}
.hea1{
 	top: 0;
	left: 0;
	width: 100%;

	background-color: #4D55CC;

 	color: white;

	padding: 10px 20px;

	display: flex;

	justify-content: space-between;
	align-items: center;

	height: 60px;
	padding: 30px;
}

.marca a{
	text-decoration: none;
	color: white;
}

.bt{
	float: left;
}

#btAcesso{
	background-color: #7A73D1;
	color: #D9D9D9;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 6px 14px;
}

#btLogIn{
	background-color: black;
	color: #D9D9D9;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 6px 14px;
}

.hea2{
 	top: 0;
	left: 0;
	width: 100%;

	background-color: #B5A8D5;
	color: black;

	padding: 20px 40px;

	display: flex;

	justify-content: space-between;
	align-items: center;

	height: 45px;
}

.hea2 button{
	background-color: #B5A8D5;
	color: black;
	border: 0px;
	font-size: 17px;
}

img{
	height: 45px;
}

section{
	height: 20hv;
	scroll-snap-align: start;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #211C84;
	color: #D9D9D9;
}



.produtos{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	align-items: center;
	margin: 20px;
    

}
.produto{
	background-color: #b9aef0;
	height: 310px;
	width: 260px;
	border-radius: 12px;
	box-shadow: 4px 4px 12px #4D55CC;
}
.produto img{
	width: 100%;
	height: 150px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
.produto div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
	width: 100%;
}
.produto h1{
	font-size: 1.2rem;
}
.produto h2{
	font-size: 0.9rem;
}

.produto input{
	border-radius: 10%;
	background-color: #B5A8D5;
	border: solid black 1px;
}

#footer{
	display: flex;
	flex-direction: row;
	position: fixed;

	bottom: 0;
	left: 0;
	right: 0;
	background-color: #B5A8D5;
	padding: 10px;
	text-align: center;
}